* {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2{
    text-align:center;
   
}


form {
    background-color: #84A7A1;
    border: 3px solid #1F6E8C;
    height: auto;
    width: 60%;
    box-shadow: 0 35px 55px rgba(0,0,0,0.5);
    margin:auto;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.inicia-sesion {
    background-color: #1F6E8C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

   
    .inicia-sesion:hover {
        opacity: 0.8;
    }


.cancelbtn {
    color: white;
    width: auto;
    padding: 10px 18px;
    background-color: indianred;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
    .cancelbtn:hover {
        opacity: 0.9;
    }

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


img.avatar {
    width: 40%;
    border-radius: 50%;
}


.form-login {
    padding: 16px;
}





@media screen and (max-width: 300px) {
    

    .cancelbtn {
        width: 100%;
    }
}
