@{
    ViewData["Title"] = "Home Page";
}

<div class="contenedor-flex">
    <div class="flex-item">
        <h1>CENTRO POKEMON</h1>
        <li><a asp-controller="Pokemon" asp-action="Index">Lista Pokemon</a></li>
        <li><a asp-controller="Pokemon" asp-action="Index">Generacion Equipo Aleatorio</a></li>
        <li><a asp-controller="Pokemon" asp-action="Index">Mi Equipo</a></li>
        <li><a asp-controller="Pokemon" asp-action="Index">Combate</a></li>


    </div>
    
</div>
