@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<h2>Error de inicio de sesión</h2>
<p>El nombre de usuario o la contraseña son incorrectos. Por favor, inténtelo de nuevo.</p>
<a asp-controller="Login" asp-action="Logueate">Regresar a la página de inicio de sesión</a>