
<div class="alert alert-danger" role="alert">
	Maximo de pokemons alcanzado!!! No se pueden añadir mas pokemons
</div>


<button type="button" class="btn btn-danger">@Html.ActionLink("Mi Equipo", "Equipo", new { tipoEquipo = "miequipo"  })</button>