
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<li><a asp-controller="Pokemon" asp-action="ListaPokemon">Lista Pokemon</a></li>
<li><a asp-controller="Pokemon" asp-action="Index">Seleccionar pokemon</a></li>
<li><a asp-controller="Pokemon" asp-action="Index">Filtrar Pokemon</a></li>
<li><a asp-controller="Pokemon" asp-action="Index">Anhadir a equipo</a></li>